{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        #tableauPrototype {
            border-collapse: collapse;
            font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
            font-size: 12px;
            margin: auto;
            text-align: left;
            width: 100%;
        }
        #tableauPrototype td {
            background: #e8edff none repeat scroll 0 0;
            border-bottom: 1px solid #fff;
            border-top: 1px solid #fff;
            color: #669;
            padding: 8px;
        }
        #tableauPrototype th{
            background: #b9c9fe none repeat scroll 0 0;
            border-bottom: 2px solid #d3ddff;
            border-top: 2px solid #d3ddff;
            color: #039;
            font-size: 13px;
            font-weight: normal;
            padding: 8px;
        }
    </style>
{% endblock %}
{% block body %}

    <div class="titreMenu">
        <p>Prototypes de glossaires : {{ compteur }} prototype(s) enregistré(s)</p>
    </div>
    <br/><br/>
    <div>
        <table id="recherche">
            <tbody>
            <form action="{{ path('consulter_prototype') }}" method="GET">
                <tr>
                    <td>Société:</td>
                    <td>
                        <select name="id_societe" id="id_societe">
                            <option  value=""></option>
                            {% for societe in societes %}
                                <option  value="{{ societe.id }}" {% if id_societe == societe.id %} selected='selected' {% endif %}>{{ societe.description }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td><input type="submit" value="Rechercher"></td>
                    <td></td>
                </tr>
            </form>
            </tbody>
        </table>
        <table id="recherche">
            <tbody>
            <form method="post" action="{{ path('export_prototype') }}">
                <tr>
                    <!--td><a href="ajoutPrototype.php">Ajouter un nouveau prototype</a></td-->
                    <td>
                        <input type="hidden" name="id_societe" value="{{ id_societe }}"/>
                        <input type="submit" value="Exporter le contenu vers excel" />
                    </td>
                </tr>
            </form>
            </tbody>
        </table>
        <br/><br/><br/><br/>
        <table id="tableauPrototype">
            <thead>
            <tr>
                <th scope="col">Client</th>
                <th scope="col">Nom du prototype</th>
                <th scope="col">Date</th>
                <!--<th scope="col">Nombre de pages</th>-->
                <th scope="col">Créateur</th>
                <!--<th scope="col">Format d'impression</th>-->
                <th scope="col">Nombre de LE Société</th>
                <th scope="col">Nombre de LE Génériques</th>
                <th scope="col">Nombre de termes</th>
                <th scope="col">Modifier</th>
                <!--<th scope="col">Consulter</th>-->
                <th scope="col">Supprimer</th>
            </tr>
            </thead>
            <tbody>
            {% for proto in prototype_accesss_array %}
            <tr>
                <td>{{ proto.societe | convert_encoding('ISO-8859-1','UTF-8') }}</td>
                <td>{{ proto.type | convert_encoding('ISO-8859-1','UTF-8') }}</td>
                <td>{{ proto.date | date('d/m/Y') }}</td>
                <!--<td><?php echo $nb_page; ?></td>-->
                <td>{{ proto.traducteur | convert_encoding('ISO-8859-1','UTF-8') }}</td>
                <td>{{ proto.nb_soloc }}</td>
                <td>{{ proto.nb_le_gen }}</td>
                <td>{{ proto.nb_termes }}</td>
                <td><a href="{{ path('modif_prototype', {'id': proto.id}) }}" target="blank">Modifier</a></td>
                <!--<td><a href="consulterGlossaire.php?id=<?php echo $resp['id_prototype_access']; ?>&id_societe=<?php echo $resp['id_societe']; ?>">Consulter</a></td>-->
                <td><a href="deletePrototype.php?id=#" class="deleteCritere"><img src="{{ asset('images/delete.png') }}"/></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        function modifier(i){
            width = 1000;
            height = 1000;
            if(window.innerWidth)
            {
                var left = (window.innerWidth-width)/2;
                var top = (window.innerHeight-height)/2;
            }
            else
            {
                var left = (document.body.clientWidth-width)/2;
                var top = (document.body.clientHeight-height)/2;
            }
            window.open('modifPrototype.php?id='+i,'nom_de_ma_popup','menubar=no, scrollbars=yes, top='+top+', left='+left+', width='+width+', height='+height+'');
        }
    </script>
{% endblock %}
