{% extends 'base.html.twig' %}
{% block javascripts %}
    <script type="text/javascript">
        function refresh1(id_prototype_access, id_societe, id, idinput){
            $("#resultDiv").empty();
            $.ajax({
                url:"{{ url }}",
                data: 'id_prototype_access='+ id_prototype_access+'&id='+id+'&id_societe='+id_societe,
                dataType: 'html',
                success:function(html){
                    $("#resultDiv"+id_prototype_access).html(html);

                    var valuesIdtheme = $("#valuesIdtheme").val();
                    var res = valuesIdtheme.split(",");
                    for (var i=0; i <res.length; i++){
                        if (res[i]==id_prototype_access){
                            $("#resultDiv"+id_prototype_access).show();
                        }
                        else {
                            $("#resultDiv"+res[i]).hide();
                        }
                    }
                }
            });

        }
    </script>
{% endblock %}
{% block stylesheets %}
    <style>
        #prepage {
            position: absolute;
            width: 300px;
            height: 200px;
            z-index: 15;
            top: 50%;
            left: 50%;
            margin: -100px 0 0 -150px;
        //background: red;
        }
    </style>
{% endblock %}
{% block body %}
    <br/><br/>
    <DIV id="prepage" class="waiting" style="display:none;">
        <img src="{{ asset('images/ajax_loader.gif') }}"/>
    </DIV>
{% if compteur > 0 %}
    <div class="titreMenu">
        <p> {{  compteur  }} prototype(s) trouvé(s)</p>
    </div>
<br/><br/>
<table id="tableau">
    <thead>
    <tr>
        <th scope="col">Prototype</th>
        <th scope="col">Action1</th>
    </tr>
    </thead>
    <tbody>
    {% for donnees2 in prototypeAccesss %}

    <tr>
		<td><p class="terme_fr sous_titre_fr" > {{ donnees2['type']    | convert_utf8 }} </p></td>
		<td>
			<div id="id{{  donnees2['id_prototype_access'] }}">
			<input id="idinput{{  donnees2['id_prototype_access'] }}" type="button" style="background: none; border: none;text-decoration: none; color: #3333cc;font: bold 12px; box-shadow:none;" value="Cliquer ici pour afficher les LE présents" onclick="refresh1({{  donnees2['id_prototype_access'] }}, {{ id_societe }}, {{  id }}, this.id)"><br/>
				<div id="resultDiv{{  donnees2['id_prototype_access'] }}"></div>
			</div>
		</td>
	</tr>
	{% endfor %}
    </tbody>
</table>
{% else %}
    <table id="tableau">
        <tr>
            <td>Aucun résultat</td>
            <td></td>
        </tr>
    </table>
{% endif %}

<br/><br/>
<table id="tableau">
    <tr>
        <td><a href="{{ path('modif_prototype', {'id': id}) }}">Terminer</a></td>
        <td><a href="{{ path('modif_prototype', {'id': id}) }}">Retour à la page précédente</a></td>
    </tr>
</table>
<input id="valuesIdtheme" type="hidden" value="{{ valuesIdtheme }}" />

{% endblock %}
