{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        #prepage {
            position: absolute;
            width: 300px;
            height: 200px;
            z-index: 15;
            top: 50%;
            left: 50%;
            margin: -100px 0 0 -150px;
        / / background: red;
        }
    </style>
{% endblock %}
{% block body %}
<DIV id="prepage" class="waiting" style="display:none; width: 160px; height:16px; position: relative; z-index:1;">
	<img src="{{ asset('images/ajax_loader.gif') }}" />
</DIV>
<div class="titreMenu">
	<p>Modification de Prototype</p>
</div>

<form action="{{ path('update_prototype_action') }}" method="post" enctype="multipart/form-data"  name="certform">
    {% if  prototypeAccess != null %}
	<table id='recherche'>
		<input name="id" type="hidden" value="{{ id }}" />
		<input name="date_old" type="hidden" id="date_old" value="{{ prototypeAccess.date | date('Y-m-d') }}" />
		<tr>
			<td><b>Prototype :</b></td>
			<td><input type="text" name="type" value="{{ prototypeAccess.type }}" style="font-weight : bold;"/></td>
			<td>Client :</td>
			<td>
				<select name="id_societe" id="id_societe" disabled>
					<option></option>
                    {% for societe in societes %}
						<option  value="{{ societe.id }}" {% if societe.id == prototypeAccess.societe.id %} selected="selected" {% endif %}>{{ societe.description }} - {{ societe.codeTiers }} </option>
                    {% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td>Créé le :</td>
			<td><input id="dateprototype" type="text" name="dateprototype" value="{{ prototypeAccess.date | date('Y-m-d') }}" /></td>
			<td>Créateur :</td>
			<td><select name="createur" id="createur">
					<option></option>
                    {% for traducteur in traducteurs %}
						<option  value="{{ traducteur.id }}" {% if traducteur.id == prototypeAccess.traducteur.id %} selected="selected" {% endif %} >{{ traducteur.nom }} </option>
                    {% endfor %}
				</select></td>
		</tr>
		<tr>
			<td>Nombre de termes associés : </td>
			<td><?php echo $nb_termes; ?></td>
			<td>Format d'impression :</td>
			<td>
				<select name="format_edition" id="format_edition">
					<option></option>
                    {% for format_edition in formatEditions %}
					<option  value="{{ format_edition.id }}" {% if format_edition.id == prototypeAccess.formatEdition.id %} selected="selected" {% endif %} >{{ format_edition.nom }} </option>
                    {% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td><input type="submit" value="Enregistrer" /></td>
			<!--td><a href="consulterGlossaire.php?id=<?php echo $id; ?>&id_societe=<?php echo $resp['id_societe']; ?>">Consulter</a></td-->
			<td colspan="3">
				<input type="button" value="Préparer l'impression PDF" id="prepare"/>
				<!--<a id="impression" target="_blank" href="impressiontable.php?id=<?php echo $id; ?>&id_societe=<?php echo $resp['id_societe']; ?>">Impression Table des matières</a>
				<a id="impression1" target="_blank" href="impressioncorps1.php?id=<?php echo $id; ?>&id_societe=<?php echo $resp['id_societe']; ?>">Impression corps du glossaire</a>-->
				<!--a id="impression2" target="_blank" href="impressionFlippingBook1.php?id=<?php echo $id; ?>&id_societe=<?php echo $resp['id_societe']; ?>">Flipping book</a-->
			</td>
		</tr>
	</table>
    {% endif %}
{% endblock %}

{% block javascripts %}
<script>
$(function() {
    $("#date_old").datepicker();
    $( "#dateprototype" ).datepicker();
	$("#choixpage").hide();
	$("#choixpageOtherSoc").hide();
	$( "#impression" ).hide();
	$( "#impression1" ).hide();
	$( "#impression2" ).hide();
	$("#addLEsociete").click(function() {
		$("#choixpage").show();
	});
	$("#addLEOthersociete").click(function() {
		$("#choixpageOtherSoc").show();
	});
	$("#prepare").click(function() {
		$.ajax({
			url: 'checkimpression.php?id=<?php echo $id;?>',
			dataType: 'html',
			beforeSend : function(jqXHR, settings){
				$("#prepage").show();
			},
			complete : function(jqXHR, textStatus){
				$("#prepage").hide();
				$("#prepare").hide();
			},
			success: function(html) {
				$( "#impression" ).show();				
				$( "#impression1" ).show();				
				$( "#impression2" ).show();				
			}
		});
	});
});
</script>
<script type="text/javascript">
	function closeSelf (f) {
		//alert("ato");
		f.submit();
		setTimeout(function() {
			window.close();	
		}, 1000);

	}
	$i = 1;
	$j = 1;
	function imprimer(){
		window.print() ;
	}
	function addTermes(id, id_societe, id_theme){
		width = 1000;
		height = 1000;
		if(window.innerWidth)
		{
				var left = (window.innerWidth-width)/2;
				var top = (window.innerHeight-height)/2;
		}
		else
		{
				var left = (document.body.clientWidth-width)/2;
				var top = (document.body.clientHeight-height)/2;
		}
		window.open('modifContenuLE.php?id='+id+'&id_societe='+id_societe+'&id_theme='+id_theme,'nom_de_ma_popup','menubar=no, scrollbars=yes, top='+top+', left='+left+', width='+width+', height='+height+'');
	}
</script>
{% endblock %}
