{% extends '::base.html.twig' %}

{% block body -%}
    <h1>nl_termes list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Terme</th>
                <th>Traduction_fr</th>
                <th>Definition</th>
                <th>Eg</th>
                <th>Datecreate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('nl_termes_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.terme }}</td>
                <td>{{ entity.traductionfr }}</td>
                <td>{{ entity.definition }}</td>
                <td>{{ entity.eG }}</td>
                <td>{% if entity.dateCreate %}{{ entity.dateCreate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('nl_termes_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('nl_termes_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('nl_termes_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
