<tr>
    <td><input type="checkbox" name="choix" {%  if id_lexique != "" and id_lexique != null %} checked='checked' {% endif %}
               onclick="sendData(this.checked, {{ i }}, {{ id_societe }}, {{ id_theme  }},{{ id_prototype_access_origine }}, {{ id }});"> </td>
    <td><p class="terme_fr sous_titre_fr" >{{ libelle_theme  | convert_encoding('ISO-8859-1','UTF-8')  }} /{{  theme_eng  | convert_encoding('ISO-8859-1','UTF-8')   }} </p></td>
    <td><input type="button" id="bouton{{ i }}"
            {%  if id_lexique != "" and id_lexique != null %} enabled='enabled'  {% else %} disabled=disabled style='background:#808080;' {% endif %}  value="Modifier" onclick="modifLE({{ id }},{{ id_societe }}, {{ id_theme }})"></td>
</tr>